
TS-Kramam/TS-1.1/~$ 1.1 Kramam Sanskrit.doc
TS-Kramam/TS-1.1/~$ 1.1 Kramam Malayalam.doc
saMhitA/04/TS 1.3 Sanskrit Krama Paatam Corrections.pdf
TS-Kramam/TS-1.5/~$ 1.5 Sanskrit Krama Paatam Corrections.doc
TS-Kramam/TS-1.5/~$ 1.5 Sanskrit Krama Paatam Corrections.doc
TS Jatai Working/~$Consolidated Jatai and Ghanam Rules.xlsx
TS Jatai Working/~$Padam Input Template.xlsx
TS Jatai Working/~$prAtiSAkyam Rules.xlsx
TS Jatai Working/KAANDAM DETAILS.xlsx
TS-Padam/~$ Padam Analysis working.doc
*.tmp
udaka-shAnti/Photo Form - boys.pdf
TS-Padam/TS-3.4/~$ 3.4 Sanskrit Pada Paatam Corrections.doc
TS-Padam/TS-3.4/~$ 3.4 Tamil Pada Paatam Corrections.doc
TS-Padam/TS-3.4/~$ 3.4 Tamil Pada Paatam with Vaakyam.doc
brAhmaNa/~$ 2.1-2.4 Tamil.doc
brAhmaNa/~$ 2.5-2.8 Tamil.doc
TS-Padam/TS-4.3/~$ 4.3 Tamil Pada Paatam Corrections.doc
TS-Kramam/TS-1.1/~$ 1.1 Kramam Tamil.doc
TS-Padam/TS-3.2/~$ 3.2 Tamil Pada Paatam with Vaakyam.doc
TS-Padam/TS-4.2/~$ 4.2 Tamil Pada Paatam with Vaakyam.doc
TS-Padam/TS-2.5/~$ 2.5 Tamil Pada Paatam with Vaakyam.doc
saMhitA/03/~$ 3 Sanskrit.doc
saMhitA/03/~$ 3 Malayalam Corrections.doc
TS-Padam/TS-2.1/~$ 2.1 Malayalam Pada Paatam Corrections.doc
TS-Padam/TS-2.1/~$ 2.1 Malayalam Pada Paatam with Vaakyam.doc
TS Jatai Working/prAtiSAkyam Rules.xlsx
TS Jatai Working/prAtiSAkyam Rules.xlsx
TS Jatai Working/prAtiSAkyam Rules.xlsx
TS Jatai Working/prAtiSAkyam Rules.xlsx
padam_excel/~$TS 1.1 Padam Input Template.xlsx
padam_excel/~$TS 1.1 Padam Input.xlsx
padam_excel/~$TS 4.7 Padam Input Template.xlsx
TS Jatai Working/~$TTD JatA PaaraayaNam.xlsx
TS Jatai Working/Ghana Sandhi/~$-TS 1.1 to 1.8-Sanskrit.docx
TS Jatai Working/Ghana Sandhi/~$-TS 1.1 to 1.8-Sanskrit.docx
Articles/~$ABasics of Veda Recital.doc
brAhmaNa/~$ 3.7-3.12 Sanskrit.doc
brAhmaNa/~$ 3.7-3.12 Tamil Corrections.doc
brAhmaNa/~$ 3.7-3.12 Tamil.doc
TS-Padam/TS-1.8/~$ 1.8 Malayalam Pada Paatam with Vaakyam.doc
Veda Lectures/~$Veda Basics.pptx
TS Jatai Working/Raja Files/Padam Inputs/~$TS 4.7 Padam Input Template.xlsx
TS Jatai Working/Raja Files/Padam Inputs/~$TS 1.1 Padam Input Template.xlsx
TS-Padam/TS-1.1/TS 1.1 Tamil Pada Paatam Corrections.pdf
