
TS-Kramam/TS-1.1/~$ 1.1 Kramam Sanskrit.doc
TS-Kramam/TS-1.1/~$ 1.1 Kramam Malayalam.doc
saMhitA/04/TS 1.3 Sanskrit Krama Paatam Corrections.pdf
TS-Kramam/TS-1.5/~$ 1.5 Sanskrit Krama Paatam Corrections.doc
TS-Kramam/TS-1.5/~$ 1.5 Sanskrit Krama Paatam Corrections.doc
TS Jatai Working/~$Consolidated Jatai and Ghanam Rules.xlsx
TS Jatai Working/~$Padam Input Template.xlsx
TS Jatai Working/~$prAtiSAkyam Rules.xlsx
TS Jatai Working/KAANDAM DETAILS.xlsx
TS-Padam/~$ Padam Analysis working.doc
*.tmp
udaka-shAnti/Photo Form - boys.pdf
TS-Padam/TS-3.4/~$ 3.4 Sanskrit Pada Paatam Corrections.doc
TS-Padam/TS-3.4/~$ 3.4 Tamil Pada Paatam Corrections.doc
TS-Padam/TS-3.4/~$ 3.4 Tamil Pada Paatam with Vaakyam.doc
brAhmaNa/~$ 2.1-2.4 Tamil.doc
